# .env
API_PORT=
# --- POSTGRES CONFIG (Para Docker y App) ---
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_PORT=
# opcional si usas DB_HOST y DB_PORT, pero recomendado para despliegue en la nube
# DATABASE_URL=

# El HOST cambia según dónde corra el código:
# Si corres FastAPI local (fuera de docker): localhost
# Si corres FastAPI en un contenedor: db-postgres
DB_HOST= 

# --- PGADMIN CONFIG ---
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=

# --- APP SECURITY ---
JWT_SECRET=
JWT_ALG=
JWT_EXPIRES_MIN=

ENV=
PROJECT_NAME=